body {
    font-size: Arial;
    background-color: rgb(146, 130, 238);
    margin: 0;
}

.box {
    background-color: rgb(0, 0, 37);
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 4px;
}

.heading-div {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.create-div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    background-color: rgb(0, 0, 37);
    height: 30px;
    width: 60%;
    color: white;
    border-radius: 2px;
    padding-left: 10px;
    border: 2px solid rgb(146, 130, 238);
    outline: none;
}

.input::placeholder {
    color: rgb(205, 205, 205);
    opacity: 70%;
}

.btn {
    background-color:rgb(146, 130, 238) ;
    color: white;
    border: none;
    height: 36px;
    margin-left: -2px;
    font-size: 12px;
    cursor: pointer;
}